<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Collecting pandas
  Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 115.1 MB/s eta 0:00:00
Downloading numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 116.1 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.3 pandas-2.3.2 tzdata-2025.2
Collecting matplotlib
  Downloading matplotlib-3.10.6-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.60.0-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl.metadata (111 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.3.3)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.6-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (8.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 106.2 MB/s eta 0:00:00
Downloading contourpy-1.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (362 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.60.0-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 85.1 MB/s eta 0:00:00
Downloading kiwisolver-1.4.9-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 86.3 MB/s eta 0:00:00
Downloading pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 85.3 MB/s eta 0:00:00
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.60.0 kiwisolver-1.4.9 matplotlib-3.10.6 pillow-11.3.0 pyparsing-3.2.5

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Write your code here
dtypes_df  =df.dtypes.to_frame(name = 'Data Type')
dtypes_df.sort_values(by = 'Data Type', ascending = False, inplace = True)
for col, types in dtypes_df['Data Type'].items():
    print(col, types)

NEWSOSites object
AIBen object
AINextMuch less integrated object
AINextLess integrated object
AINextMore integrated object
AINextNo change object
AINextMuch more integrated object
AIToolNot interested in Using object
AIToolInterested in Using object
AIToolCurrently Using object
AIComplex object
AIAcc object
AISent object
AIEthics object
AISelect object
SOComm object
SOHow object
SOPartFreq object
SOAccount object
SOVisitFreq object
MainBranch object
AISearchDevAdmired object
AISearchDevWantToWorkWith object
AISearchDevHaveWorkedWith object
AIThreat object
AIChallenges object
OfficeStackSyncHaveWorkedWith object
Frequency_1 object
SurveyLength object
Industry object
ProfessionalQuestion object
ProfessionalCloud object
ProfessionalTech object
Frustration object
TimeAnswering object
TimeSearching object
Frequency_3 object
Frequency_2 object
Knowledge_9 object
TBranch object
Knowledge_8 object
Knowledge_7 object
Knowledge_6 object
Knowledge_5 object
Knowledge_4 object
Knowledge_3 object
Knowledge_2 object
Knowledge_1 object
SurveyEase object
ICorPM object
OfficeStackSyncAdmired object
OfficeStackSyncWantToWorkWith object
DatabaseHaveWorkedWith object
DatabaseAdmired object
LanguageAdmired object
LanguageWantToWorkWith object
LanguageHaveWorkedWith object
Currency object
Country object
TechEndorse object
BuildvsBuy object
BuyNewTool object
PurchaseInfluence object
OrgSize object
DevType object
YearsCodePro object
YearsCode object
TechDoc object
LearnCodeOnline object
LearnCode object
EdLevel object
CodingActivities object
Check object
RemoteWork object
Employment object
OfficeStackAsyncAdmired object
DatabaseWantToWorkWith object
MiscTechWantToWorkWith object
MiscTechAdmired object
OfficeStackAsyncWantToWorkWith object
OfficeStackAsyncHaveWorkedWith object
OpSysProfessional use object
OpSysPersonal use object
NEWCollabToolsAdmired object
NEWCollabToolsWantToWorkWith object
NEWCollabToolsHaveWorkedWith object
ToolsTechAdmired object
ToolsTechWantToWorkWith object
ToolsTechHaveWorkedWith object
Age object
PlatformHaveWorkedWith object
MiscTechHaveWorkedWith object
EmbeddedAdmired object
EmbeddedWantToWorkWith object
EmbeddedHaveWorkedWith object
WebframeAdmired object
WebframeWantToWorkWith object
WebframeHaveWorkedWith object
PlatformAdmired object
PlatformWantToWorkWith object
JobSatPoints_10 float64
JobSatPoints_11 float64
JobSatPoints_8 float64
ConvertedCompYearly float64
JobSatPoints_9 float64
JobSat float64
JobSatPoints_7 float64
JobSatPoints_6 float64
JobSatPoints_5 float64
JobSatPoints_4 float64
JobSatPoints_1 float64
WorkExp float64
CompTotal float64
ResponseId int64

In [4]:
null_df = df.isnull().sum().to_frame(name = 'Missing Values')
null_df.sort_values(by = 'Missing Values', ascending = False, inplace = True)
for col, missing in null_df['Missing Values'].items():
    print(col, missing)

AINextMuch less integrated 64289
AINextLess integrated 63082
AINextNo change 52939
AINextMuch more integrated 51999
EmbeddedAdmired 48704
EmbeddedWantToWorkWith 47837
EmbeddedHaveWorkedWith 43223
ConvertedCompYearly 42002
AIToolNot interested in Using 41023
AINextMore integrated 41009
Knowledge_9 37802
Frequency_3 37727
Knowledge_8 37679
ProfessionalTech 37673
Knowledge_7 37659
Knowledge_6 37573
Knowledge_5 37557
Knowledge_2 37416
Knowledge_4 37407
Knowledge_3 37342
Frustration 37186
Frequency_2 37073
Frequency_1 37068
ProfessionalCloud 36946
Knowledge_1 36773
ProfessionalQuestion 36630
TimeAnswering 36593
Industry 36579
TimeSearching 36526
JobSat 36311
JobSatPoints_1 36113
JobSatPoints_4 36044
JobSatPoints_5 36026
JobSatPoints_11 35992
JobSatPoints_7 35989
JobSatPoints_6 35987
JobSatPoints_10 35987
JobSatPoints_8 35981
JobSatPoints_9 35981
MiscTechAdmired 35841
WorkExp 35779
ICorPM 35636
AIToolInterested in Using 34746
PlatformAdmired 34060
MiscTechWantToWorkWith 32473
CompTotal 31697
PlatformWantToWorkWith 30905
WebframeAdmired 30494
AIToolCurrently Using 30365
AISearchDevAdmired 29894
AISearchDevWantToWorkWith 28736
AIBen 28543
AIComplex 28416
OfficeStackAsyncAdmired 28233
AIAcc 28135
AIChallenges 27906
WebframeWantToWorkWith 26902
DatabaseAdmired 26880
OfficeStackAsyncWantToWorkWith 26471
MiscTechHaveWorkedWith 25994
TechDoc 24540
AIEthics 23889
PlatformHaveWorkedWith 23071
DatabaseWantToWorkWith 22879
BuildvsBuy 22079
TechEndorse 21769
ToolsTechAdmired 21440
AISearchDevHaveWorkedWith 20984
TBranch 20960
AIThreat 20748
OfficeStackSyncAdmired 20725
WebframeHaveWorkedWith 20276
BuyNewTool 20256
SOPartFreq 20200
AISent 19564
ToolsTechWantToWorkWith 19353
Currency 18753
OfficeStackSyncWantToWorkWith 18726
PurchaseInfluence 18031
OrgSize 17957
OfficeStackAsyncHaveWorkedWith 17344
LearnCodeOnline 16200
DatabaseHaveWorkedWith 15183
NEWCollabToolsAdmired 14726
LanguageAdmired 14565
YearsCodePro 13827
NEWCollabToolsWantToWorkWith 13350
ToolsTechHaveWorkedWith 12955
OpSysProfessional use 12464
CodingActivities 10971
RemoteWork 10631
OfficeStackSyncHaveWorkedWith 9892
LanguageWantToWorkWith 9685
SurveyLength 9255
SurveyEase 9199
NEWCollabToolsHaveWorkedWith 7845
OpSysPersonal use 7263
Country 6507
SOHow 6475
SOComm 6274
DevType 5992
SOVisitFreq 5901
SOAccount 5877
LanguageHaveWorkedWith 5692
YearsCode 5568
NEWSOSites 5151
LearnCode 4949
EdLevel 4653
AISelect 4530
MainBranch 0
Age 0
Employment 0
Check 0
ResponseId 0

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [5]:
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [6]:
sorted_countries = sorted(df['Country'].dropna().unique())
sorted_countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo, Republic of the...',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Côte d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong (S.A.R.)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Republic of...',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libyan Arab Jamahiriya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Federated States of...',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Nomadic',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Republic of North Macedonia',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan',
 'Tajikistan',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Venezuela, Bolivarian Republic of...',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [7]:
replacements = {
    "United States of America": "USA",
    "Republic of Korea": "South Korea",
    "South Korea": "South Korea",
    "Democratic People's Republic of Korea": "North Korea",
    "North Korea": "North Korea",
    "Russian Federation": "Russia",
    "United Kingdom of Great Britain and Northern Ireland": "UK",
    "Iran, Islamic Republic of...": "Iran",
    "Venezuela, Bolivarian Republic of...": "Venezuela",
    "Micronesia, Federated States of...": "Micronesia",
    "Lao People's Democratic Republic": "Laos",
    "Libyan Arab Jamahiriya": "Libya",
    "Swaziland": "Eswatini",
    "Czech Republic": "Czechia",
    "Republic of North Macedonia": "North Macedonia",
    "Hong Kong (S.A.R.)": "Hong Kong",
    "Nomadic": None   # or drop these rows entirely
}

df['Country'] = df['Country'].replace(replacements)

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [8]:
## Write your code here
sorted_Ed_Level = sorted(df['EdLevel'].dropna().unique())
sorted_Ed_Level

['Associate degree (A.A., A.S., etc.)',
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
 'Primary/elementary school',
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)',
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
 'Some college/university study without earning a degree',
 'Something else']

In [9]:
ed_standard = {'Associate degree (A.A., A.S., etc.)':'Associate degree',
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)':'Bachelor’s degree',
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)':'Master’s degree',
 'Primary/elementary school':'Primary school',
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)':'Professional degree',
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)':'High school',
 'Some college/university study without earning a degree': 'Formal studies without earning a degree',
 'Something else':'Something else'
}

df['EdLevel'] = df['EdLevel'].replace(ed_standard)

In [10]:
check_df = df[['EdLevel', 'Country']]
check_df.head()

                                   EdLevel Country
0                           Primary school     USA
1                        Bachelor’s degree      UK
2                          Master’s degree      UK
3  Formal studies without earning a degree  Canada
4                              High school  Norway

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [11]:
# In order to use the the one-hot encoding on the Employment column in my data
# I first must simplify/clean this column, as it has to many different entries
# So I first got a clean unique list of all entries in the Employment column

In [12]:
#sorting, removing and finding all unique entries in the Employment column
sorted_emp = sorted(df['Employment'].dropna().unique())
sorted_emp

['Employed, full-time',
 'Employed, full-time;Employed, part-time',
 'Employed, full-time;Independent contractor, freelancer, or self-employed',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired',
 'Employed, full-time;Not employed, and not looking for work',
 'Employed, full-time;Not employed, but looking for work',
 'Employed, full-time;Not employed, but looking for work;Employed, part-time',
 'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
 'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
 'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time',
 'Employed, full-time;Not employed, but looking for work;Not employed, and not looking for work;Employed, part-time',
 'Employed, full-time;Not employed, but looking for work;Student, part-time',
 'Employed, full-time;Retired',
 'Employed, full-time;Student, full-time',
 'Employed, full-time;Student, full-time;Employed, part-time',
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed',
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired',
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired',
 'Employed, full-time;Student, full-time;Not employed, but looking for work',
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time',
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time;Retired',
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired',
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time',
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time;Employed, part-time',
 'Employed, full-time;Student, full-time;Student, part-time',
 'Employed, full-time;Student, full-time;Student, part-time;Employed, part-time',
 'Employed, full-time;Student, part-time',
 'Employed, full-time;Student, part-time;Employed, part-time',
 'Employed, part-time',
 'Employed, part-time;Retired',
 'I prefer not to say',
 'Independent contractor, freelancer, or self-employed',
 'Independent contractor, freelancer, or self-employed;Employed, part-time',
 'Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time',
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired',
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time',
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Retired',
 'Independent contractor, freelancer, or self-employed;Retired',
 'Independent contractor, freelancer, or self-employed;Student, part-time',
 'Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
 'Independent contractor, freelancer, or self-employed;Student, part-time;Retired',
 'Not employed, and not looking for work',
 'Not employed, and not looking for work;Employed, part-time',
 'Not employed, and not looking for work;Retired',
 'Not employed, and not looking for work;Student, part-time',
 'Not employed, and not looking for work;Student, part-time;Employed, part-time',
 'Not employed, but looking for work',
 'Not employed, but looking for work;Employed, part-time',
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time',
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired',
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Retired',
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time',
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired',
 'Not employed, but looking for work;Not employed, and not looking for work',
 'Not employed, but looking for work;Not employed, and not looking for work;Student, part-time',
 'Not employed, but looking for work;Not employed, and not looking for work;Student, part-time;Employed, part-time',
 'Not employed, but looking for work;Retired',
 'Not employed, but looking for work;Student, part-time',
 'Not employed, but looking for work;Student, part-time;Employed, part-time',
 'Not employed, but looking for work;Student, part-time;Retired',
 'Retired',
 'Student, full-time',
 'Student, full-time;Employed, part-time',
 'Student, full-time;Independent contractor, freelancer, or self-employed',
 'Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
 'Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
 'Student, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
 'Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time',
 'Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
 'Student, full-time;Not employed, and not looking for work',
 'Student, full-time;Not employed, and not looking for work;Employed, part-time',
 'Student, full-time;Not employed, and not looking for work;Student, part-time',
 'Student, full-time;Not employed, but looking for work',
 'Student, full-time;Not employed, but looking for work;Employed, part-time',
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time',
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time',
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired',
 'Student, full-time;Not employed, but looking for work;Not employed, and not looking for work',
 'Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time',
 'Student, full-time;Not employed, but looking for work;Retired',
 'Student, full-time;Not employed, but looking for work;Student, part-time',
 'Student, full-time;Retired',
 'Student, full-time;Student, part-time',
 'Student, full-time;Student, part-time;Employed, part-time',
 'Student, full-time;Student, part-time;Retired',
 'Student, part-time',
 'Student, part-time;Employed, part-time',
 'Student, part-time;Retired']

In [13]:
#I then created a list of the simplified categories I want to have in my df 
# And created a function that converts each entry according to its simplified version 
import numpy as np

# simplified categories
simple_categories = [
    "Employed full time",
    "Employed part time",
    "Student full time",
    "Student part time",
    "Independent contractor",
    "I prefer not to say",
    "Not employed",
    "Retired"
]

def simplify_employment(value):
    if pd.isna(value):
        return np.nan
    
    # Convert to lower case to simplify matching
    v = value.lower()
    
    # I prefer not to say
    if "i prefer not to say" in v:
        return "I prefer not to say"
    
    # Retired
    elif "retired" in v:
        return "Retired"
    
    # Student full/part time
    elif "student, full-time" in v:
        return "Student full time"
    elif "student, part-time" in v:
        return "Student part time"
    
    # Employment full/part time
    elif "employed, full-time" in v:
        return "Employed full time"
    elif "employed, part-time" in v:
        return "Employed part time"
    
    # Independent contractor
    elif "independent contractor" in v or "freelancer" in v or "self-employed" in v:
        return "Independent contractor"
    
    # Not employed
    elif "not employed" in v:
        return "Not employed"
    
    # Catch-all (optional)
    else:
        return "Other"

In [14]:
# I than applied the function on the Employment column and saved it as a new column in my df 
df['Employment_simplified'] = df['Employment'].apply(simplify_employment)
df['Employment_simplified'].value_counts()  #counting all the values in the new column, to verify my function works

Employment_simplified
Employed full time        43075
Student full time          8604
Independent contractor     5292
Not employed               3014
Student part time          2503
Employed part time         1722
Retired                     681
I prefer not to say         546
Name: count, dtype: int64

In [15]:
#one-hot encoding in pandas is performed using the pd.get_dummies method 
# I assigned the result to a df that I can later concat with my main df
dummy_df = pd.get_dummies(df['Employment_simplified']) #applying on my simplified emp column
dummy_df.head() #checking my data

,Employed full time,Employed part time,I prefer not to say,Independent contractor,Not employed,Retired,Student full time,Student part time
0,True,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,True,False

In [16]:
# Concating both df into the main df 
df = pd.concat([df, dummy_df], axis = 1)
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSat,Employment_simplified,Employed full time,Employed part time,I prefer not to say,Independent contractor,Not employed,Retired,Student full time,Student part time
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary school,Books / Physical media,NaN,...,NaN,Employed full time,True,False,False,False,False,False,False,False
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Bachelor’s degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,Employed full time,True,False,False,False,False,False,False,False
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Master’s degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,Employed full time,True,False,False,False,False,False,False,False
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Formal studies without earning a degree,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,Student full time,False,False,False,False,False,False,True,False
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,High school,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,Student full time,False,False,False,False,False,False,True,False

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [17]:
## Write your code here
null_df = df.isnull().sum().to_frame(name = 'Missing Values')
null_df.sort_values(by ='Missing Values', ascending = False, inplace = True )
for col, missing in null_df['Missing Values'].items():
    print(col, missing)

AINextMuch less integrated 64289
AINextLess integrated 63082
AINextNo change 52939
AINextMuch more integrated 51999
EmbeddedAdmired 48704
EmbeddedWantToWorkWith 47837
EmbeddedHaveWorkedWith 43223
ConvertedCompYearly 42002
AIToolNot interested in Using 41023
AINextMore integrated 41009
Knowledge_9 37802
Frequency_3 37727
Knowledge_8 37679
ProfessionalTech 37673
Knowledge_7 37659
Knowledge_6 37573
Knowledge_5 37557
Knowledge_2 37416
Knowledge_4 37407
Knowledge_3 37342
Frustration 37186
Frequency_2 37073
Frequency_1 37068
ProfessionalCloud 36946
Knowledge_1 36773
ProfessionalQuestion 36630
TimeAnswering 36593
Industry 36579
TimeSearching 36526
JobSat 36311
JobSatPoints_1 36113
JobSatPoints_4 36044
JobSatPoints_5 36026
JobSatPoints_11 35992
JobSatPoints_7 35989
JobSatPoints_6 35987
JobSatPoints_10 35987
JobSatPoints_8 35981
JobSatPoints_9 35981
MiscTechAdmired 35841
WorkExp 35779
ICorPM 35636
AIToolInterested in Using 34746
PlatformAdmired 34060
MiscTechWantToWorkWith 32473
CompTotal 31697
PlatformWantToWorkWith 30905
WebframeAdmired 30494
AIToolCurrently Using 30365
AISearchDevAdmired 29894
AISearchDevWantToWorkWith 28736
AIBen 28543
AIComplex 28416
OfficeStackAsyncAdmired 28233
AIAcc 28135
AIChallenges 27906
WebframeWantToWorkWith 26902
DatabaseAdmired 26880
OfficeStackAsyncWantToWorkWith 26471
MiscTechHaveWorkedWith 25994
TechDoc 24540
AIEthics 23889
PlatformHaveWorkedWith 23071
DatabaseWantToWorkWith 22879
BuildvsBuy 22079
TechEndorse 21769
ToolsTechAdmired 21440
AISearchDevHaveWorkedWith 20984
TBranch 20960
AIThreat 20748
OfficeStackSyncAdmired 20725
WebframeHaveWorkedWith 20276
BuyNewTool 20256
SOPartFreq 20200
AISent 19564
ToolsTechWantToWorkWith 19353
Currency 18753
OfficeStackSyncWantToWorkWith 18726
PurchaseInfluence 18031
OrgSize 17957
OfficeStackAsyncHaveWorkedWith 17344
LearnCodeOnline 16200
DatabaseHaveWorkedWith 15183
NEWCollabToolsAdmired 14726
LanguageAdmired 14565
YearsCodePro 13827
NEWCollabToolsWantToWorkWith 13350
ToolsTechHaveWorkedWith 12955
OpSysProfessional use 12464
CodingActivities 10971
RemoteWork 10631
OfficeStackSyncHaveWorkedWith 9892
LanguageWantToWorkWith 9685
SurveyLength 9255
SurveyEase 9199
NEWCollabToolsHaveWorkedWith 7845
OpSysPersonal use 7263
Country 6550
SOHow 6475
SOComm 6274
DevType 5992
SOVisitFreq 5901
SOAccount 5877
LanguageHaveWorkedWith 5692
YearsCode 5568
NEWSOSites 5151
LearnCode 4949
EdLevel 4653
AISelect 4530
ResponseId 0
Employment 0
Age 0
Check 0
MainBranch 0
Employment_simplified 0
Employed full time 0
Employed part time 0
I prefer not to say 0
Independent contractor 0
Not employed 0
Retired 0
Student full time 0
Student part time 0

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [34]:
#ConvertedCompYearly
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].replace(np.nan, df['ConvertedCompYearly'].mean())
df['ConvertedCompYearly'].isnull().sum()

np.int64(0)

In [35]:
df['ConvertedCompYearly'].isna().sum()

np.int64(0)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [19]:
#RemoteWork
df['RemoteWork'] = df['RemoteWork'].replace(np.nan, df['RemoteWork'].value_counts().idxmax())
df['RemoteWork'].isnull().sum()

np.int64(0)

In [20]:
df['RemoteWork'].value_counts()

RemoteWork
Hybrid (some remote, some in-person)    33646
Remote                                  20831
In-person                               10960
Name: count, dtype: int64

In [36]:
df['ConvertedCompYearly'].value_counts()

ConvertedCompYearly
86155.287263     42002
64444.000000       321
53703.000000       308
75184.000000       230
85925.000000       226
                 ...
15637.000000         1
74970.000000         1
950000.000000        1
51448.000000         1
447569.000000        1
Name: count, Length: 6114, dtype: int64

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [22]:
!pip install scikit-learn
from sklearn.preprocessing import MinMaxScaler

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in /opt/conda/lib/python3.12/site-packages (from scikit-learn) (2.3.3)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (62 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (9.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.5/9.5 MB 74.6 MB/s eta 0:00:00
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.16.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (35.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.7/35.7 MB 114.9 MB/s eta 0:00:0000:01
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.2 threadpoolctl-3.6.0

In [37]:
#for some reason the column was converted to an object dtype, so I've converted it back to float.
df['ConvertedCompYearly'] = pd.to_numeric(df['ConvertedCompYearly'], errors='coerce')
print(df['ConvertedCompYearly'].dtype)

float64

In [38]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(df[['ConvertedCompYearly']])

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [39]:
## Write your code here
df['logged_CCY'] = df[['ConvertedCompYearly']].apply(np.log)

In [40]:
df['logged_CCY'].value_counts()

logged_CCY
11.363907    42002
11.073552      321
10.891224      308
11.227694      230
11.361230      226
             ...
9.657395         1
11.224843        1
13.764217        1
10.848327        1
13.011586        1
Name: count, Length: 6114, dtype: int64

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [44]:
df['YearsCodePro'] = df['YearsCodePro'].replace(np.nan, df['YearsCodePro'].median())

TypeError: Cannot convert [nan '17' '27' ... '5' '2' nan] to numeric

In [30]:
## Write your code here
df['YearsCodePro'].value_counts()

YearsCodePro
2                     4168
3                     4093
5                     3526
10                    3251
4                     3215
Less than 1 year      2856
6                     2843
1                     2639
8                     2549
7                     2517
12                    1777
15                    1635
20                    1549
9                     1493
11                    1312
13                    1127
14                    1082
25                     998
16                     946
18                     867
17                     814
30                     689
24                     632
19                     516
22                     492
23                     448
26                     426
27                     380
21                     380
28                     342
35                     285
29                     196
40                     194
32                     194
34                     169
38                     134
33                     132
36                     119
31                     106
37                     104
45                      56
42                      55
39                      54
41                      51
More than 50 years      50
44                      42
43                      37
46                      21
50                      14
48                      14
49                      11
47                      10
Name: count, dtype: int64

In [42]:
def clean_years_code_pro(val):
    if pd.isnull(val):
        return np.nan
    elif val == 'Less than 1 year':
        return 0
    elif val == 'More than 50 years':
        return 51
    else:
        return float(val)

df['YearsCodePro_clean'] = df['YearsCodePro'].apply(clean_years_code_pro)

# Define bins + labels
bins = [-1, 1, 5, 10, 20, 30, float('inf')]
labels = ['Beginner', 'Junior', 'Mid-level', 'Senior', 'Lead/Principal', 'Veteran']

df['ExperienceLevel'] = pd.cut(df['YearsCodePro_clean'], bins=bins, labels=labels)

In [43]:
df['ExperienceLevel']

0                   NaN
1                Senior
2        Lead/Principal
3                   NaN
4                   NaN
              ...
65432            Junior
65433               NaN
65434            Junior
65435            Junior
65436               NaN
Name: ExperienceLevel, Length: 65437, dtype: category
Categories (6, object): ['Beginner' < 'Junior' < 'Mid-level' < 'Senior' < 'Lead/Principal' < 'Veteran']

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.